.basic-box svg{
  height:8em ;
  width:8em;
  z-index: 11;
  position: absolute;
  top: 1em;
  left: 2em;

}

.cls-1{
  fill:#000;
  stroke:#000;
}


.logo--1{
  fill:#000;
  stroke:#000;
}

/*

.line {
  fill: none;
  stroke: #fff;
  stroke-width: 4px;
opacity: 0;
stroke-dasharray: 300;
stroke-dashoffset: 500;

}

.line:hover{

}


@keyframes line-ani {

 to {
opacity: 0.5;
  stroke-dashoffset: 5;
 } */
