.basic-box svg{
  height:8em ;
  width:8em;
  z-index: 11;
  position: absolute;
  top: 1em;
  left: 2em;

}

.draw{
  opacity: 1;
    stroke:#FF073A;
    stroke-linecap:round;
    stroke-dasharray: 2797.898681640625;
    stroke-dashoffset: 2797.898681640625;
    animation: cherry 7s ease-in-out infinite;

}

.abricot{
  opacity: 1;
    stroke:#FF073A;
    stroke-linecap:round;
    stroke-dasharray: 4070.0849609375;
    stroke-dashoffset: 4070.0849609375;
    animation: abricot 7s ease-in-out infinite;

}

.crown{
  opacity: 1;
    stroke:#FF073A;
    stroke-linecap:round;
    stroke-dasharray: 4070.0849609375;
    stroke-dashoffset: 4070.0849609375;
    animation: abricot 7s ease-in-out infinite;

}

.text-logo{
  animation: 9s linear infinite turn;
}

@keyframes turn {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

h1{  animation: 1.5s linear forwards cool-title;}

@keyframes cool-title {
  from {font-variation-settings: 'opsz' 100, 'wght' 20;}
  to {font-variation-settings: 'opsz' 100, 'wght' 180;}
}

@keyframes abricot {
  from {
    stroke-dashoffset: 4070.0849609375;
  }
  to {
    stroke-dashoffset: 0;
    stroke-width: 4;
  }
}





@keyframes cherry {
  from {
    stroke-dashoffset: 2797.898681640625;
  }
  to {
    stroke-dashoffset: 0;
    stroke-width: 2;
  }
}
