@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

@font-face {
  font-family: marvin;
  font-style: normal;
  src: url("../fonts/marvin/MarvinVisionsTrial-Variable.woff2") format("woff2"),
       url("../fonts/marvin/MarvinVisionsTrial-Variable.woff") format("woff"),
       url("../fonts/marvin/MarvinVisionsTrial-Variable.ttf") format("ttf");
}

:root{
  --sizefont: 3rem;
  --padding1: 3rem;
  --fontcolor: #11040D; /*fake black*/
  --color1:#C83188;/*pink*/
  --color2:#E26938;/*orange*/
  --color3:#58173D;/*purple*/
  --color4:#F2B01C; /*yellow*/


}

html{cursor:url("css/images/cercles.svg"), auto;}

.box-filter{
  display: none;

}

body{
  background: #FFE8D6;
  color: var(--fontcolor);
  font-weight: 400;
  line-height: 1.75;
}


p{margin-bottom: 1rem;
  font-family: marvin,sans-serif ;
    font-size: 1em;
}

h2, h3, h4, h5{
  font-family: marvin,sans-serif ;
  font-size: 3rem;
}

h1{
  font-size: 4rem;
  margin: 6rem 4rem 4rem 4rem;
  line-height: 0.85em;
  text-align: center;
  font-family: marvin,sans-serif ;


}


.menu-toggle{
  margin-top: 1em;
  margin-left: 1em;
}



 .main-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left : -300px;
  height: 10%;
  transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
  z-index: 999;

}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
  border-bottom: 0.5px solid transparent;
        }

.main-menu ul {
  min-height: 100%;
  width: 300px;
  background: var(--color2);
  margin: 0;
  padding: 5em 0 0;
}

.main-menu a {
  font-family: 'Montserrat', sans-serif;
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1.5em;
  color: var(--fontcolor);
  text-decoration: none;
  border-bottom: 0.5px solid lightsalmon;

}

.main-menu:target{
  left: 0;
}

.main-menu:target .menu-close {
  z-index: 1001;
}

.main-menu:target + .backdrop {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #FFF7EC;
  cursor: default;
}


 .goback{
font-family: 'Montserrat', sans-serif;
text-decoration: none;
padding: 1rem;
 }

.btn-holder{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

 .btn a{
   padding: var(--padding1);
   font-family: marvin,sans-serif ;
   font-weight: 100;
   text-decoration: none;
   color: black;
 }

span a:hover{
   font-weight: 1000;
   text-decoration: none;
   color:white;
 }




 .btn {color:var(--color2);
   background:transparent;
   border-width:2px;
   border-radius: 5px;
   border-style: solid;
   border-color: var(--color3);
   position:relative;
   margin:3rem;
   display:inline-block;
   padding:0.5rem 1rem;
   transition:all 0.3s ease-in-out;
   text-align:center;}
 .btn:before, .btn:after {content:'';
 display:block;
 position:absolute;
 border-color:var(--color1);
 box-sizing:border-box;
 border-style:solid;
 width:1rem;
 height:1rem;
 transition:all 0.3s ease-in-out}
 .btn:before {top:-6px;
   left:-6px;
   border-width:2px 0 0 2px;
   border-radius: 10px;
   z-index:5;}
 .btn:after {bottom:-6px;
   right:-6px;
   border-radius: 10px;
   border-width:0 2px 2px 0;}
 .btn:hover:before, .btn:hover:after {
   width:calc(100% + 12px);
   height:calc(100% + 12px);
   border-color:var(--color3)}
 .btn:hover {
   color:#fff;
   background-color:var(--color4);
   border-color:var(--color1)}
 .panel {max-width:960px;
   text-align:center;
   position:relative;}






#consonant:target ~ .vowel{
    display: none;
}

#vowel:target ~ .consonant{
    display: none;
}

#all:target ~ .consonant, .vowel{
    display: block;
}






.abcontainer {
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
    grid-template-rows: 250px 250px 250px 250px 250px 250px ;
    grid-gap: 20px;
}



.basic-box{
  padding: 1rem;
  border:1px solid var(--fontcolor);
  border-radius: 20px;
  margin:2rem;
  text-align: center;
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);

}
.basic-box:nth-child(4){
position:relative; }

.basic-box:nth-child(4) svg{
opacity:0 }

.basic-box:nth-child(4):hover{

  background-color:#E67E30;
  color:white;
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
  border:0px;
}
.basic-box:nth-child(4):hover svg{
opacity: 1;
transition: svg 0.5s ease;
animation: line-ani 7.5s forwards;

}

.basic-box:nth-child(5){
position:relative; }

.basic-box:nth-child(5) svg{
opacity:0 }

.basic-box:nth-child(5):hover{
  background-color:#6faef2;
  color:white;
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
border:0px;
}
.basic-box:nth-child(5):hover svg{
opacity: 1;
transition: svg 0.5s ease;
animation: line-ani 7.5s forwards;

}

.basic-box:nth-child(6){
position:relative; }

.basic-box:nth-child(6) svg{
opacity:0 }

.basic-box:nth-child(6):hover{
  background-color:#c2022f;
  color:white;
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
border:0px;
}

.basic-box:nth-child(6):hover svg{
opacity: 1;
transition: svg 0.5s ease;
animation: line-ani 7.5s forwards;

}

.basic-box:nth-child(7){
position:relative; }

.basic-box:nth-child(7) svg{
opacity:0 }

.basic-box:nth-child(7):hover{
  background-color:#1560BD;
  color:white;
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
border:0px;
}

.basic-box:nth-child(7):hover svg{
opacity: 1;
transition: svg 0.5s ease;
animation: line-ani 7.5s forwards;

}

.basic-box:nth-child(8){
position:relative; }

.basic-box:nth-child(8) svg{
opacity:0 }

.basic-box:nth-child(8):hover{
  background-color:#1D7583;
  color:white;
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
  border:0px;
}

.basic-box:nth-child(8):hover svg{
opacity: 1;
transition: svg 0.5s ease;
animation: line-ani 7.5s forwards;

}

.basic-box:nth-child(9){
position:relative; }

.basic-box:nth-child(9) svg{
opacity:0 }

.basic-box:nth-child(9):hover{
  background-color:#8c440d;
  color:white;
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
border:0px;
}
.basic-box:nth-child(9):hover svg{
opacity: 1;
transition: svg 0.5s ease;
animation: line-ani 7.5s forwards;

}
.basic-box:nth-child(10) svg{
opacity: 0;


}
.basic-box:nth-child(10):hover{
  background-color:#BBD2E1;
  color:white;
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
border:0px;
}
.basic-box:nth-child(10):hover svg{
opacity: 1;
transition: svg 0.5s ease;
animation: line-ani 7.5s forwards;

}
.basic-box:nth-child(11):hover{
  background-color:#1b4f08;
  color:white;
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
  border:0px;
}
.basic-box:nth-child(12):hover{
  background-color:#FF6F7D;
  color:white;
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
border:0px;
}
.basic-box:nth-child(13):hover{
  background-color:#FFE436;
  color:white;
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
border:0px;
}
.basic-box:nth-child(14):hover{
  background-color:#21177D;
  color:white;
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
border:0px;
}
.basic-box:nth-child(15):hover{
  background-color:#b666d2;
  color:white;
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
border:0px;
}
.basic-box:nth-child(16):hover{
  background-color:#DB0730;
  color:white;
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
border:0px;
}
.basic-box:nth-child(17):hover{
  background-color:black;
  color:white;
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
border:0px;
}
.basic-box:nth-child(18):hover{
  background-color:orange;
  color:white;
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
border:0px;
}
.basic-box:nth-child(19):hover{
 background-color:#59578d;
 color:white;
 transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
 border:0px;
}
.basic-box:nth-child(20):hover{
  background-color:#91283B;
  color:white;
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
  border:0px;
}
.basic-box:nth-child(21):hover{
  background-color:red;
  color:white;
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
  border:0px;
}
.basic-box:nth-child(22):hover{
  background-color:#f4c430;
  color:white;
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
  border:0px;
}
.basic-box:nth-child(23):hover{
  background-color:#d07c50;
  color:white;
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
  border:0px;
}
.basic-box:nth-child(24):hover{
  background-color:#9a0eeb;
  color:white;
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
  border:0px;
}
.basic-box:nth-child(25):hover{
  background-color:#82C46C;
  color:white;
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
  border:0px;
}
.basic-box:nth-child(26):hover{
  background-color:#4f1607;
  color:white;
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
  border:0px;
}
.basic-box:nth-child(27):hover{
  background-color:#c1e5e8;
  color:white;
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
  border:0px;
}
.basic-box:nth-child(28):hover{
  background-color:#e5c78e;
  color:white;
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
  border:0px;
}
.basic-box:nth-child(29):hover{
  background-color:#6c0277;
  color:white;
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
  border:0px;
}
